{% extends 'main/main.html' %}

{% block content %}
    <div class="container">
    <h1 style="text-align: left; font-size: 28px; margin-top: 20px; color:#212529">{{class.name}}</h1>
    <h5>Date: {{class_attendence_detail.date}}</h5>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Attendence</th>
            <th scope="col">Module Leader</th>
            <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_list %}
            <tr >
                <th scope="row">{{student.student.id}}</th>
                <td>{{student.student.first_name}} {{student.student.last_name}}</td>
                <td>
                    {% if student.status %}
                        <input type="checkbox" onclick=makePresent(this) data-studentId="{{student.student.id}}" data-classId="{{class.id}}" checked>
                    {% else %}
                        <input type="checkbox" onclick=makePresent(this) data-studentId="{{student.id}}" data-classId="{{class.id}}">
                    {% endif %}
                </td>
                <td><a href="">View Profile</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    const makePresent = (student) =>{
        let classId = student.getAttribute("data-classId");
        let studentId = student.getAttribute("data-studentId");
        let data = {
            classId: classId,
            studentId: studentId,
        }

        let headers = {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        }
        axios.post(`http://127.0.0.1:8000/attendence/${classId}`, data, {
            headers: headers,
        })
        .then((res)=>{
            console.log(res);
        })
        console.log("clicked, student id>> ", studentId);
    }


</script>
{% endblock %}